html,
body {
	background-color: #000 !important;
	color: white !important;
	height: 99vh;
	letter-spacing: 1px;
	background-image: url("../public/Assets/dark-marble-bg.jpg");
}

.active {
	border: none;
	box-shadow: inset 2px 2px 2px #777, inset -2px -2px 2px #ccc;
}

.chat * {
	transition: all 0.3s ease-in;
	letter-spacing: 2px;
}

.chat:hover span {
	color: #777;
	letter-spacing: 2px;
}
